// global styles for <a> and <p> tags
$govuk-global-styles: true;

// Import GOV.UK Frontend
@import "node_modules/govuk-frontend/all";

// Patterns that aren't in Frontend
@import "patterns/check-your-answers";
@import "patterns/step-by-step-navigation";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/cookie-banner";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you
.govuk-oasys-list {
    display: block;
    padding: 8px 30px 8px 10px;
    text-decoration: none;
  }
  
  .govuk-oasys-list:hover {
    display: block;
    padding: 8px 30px 8px 10px;
    border-left-color: #005ea5;
    border-left: 4px solid;
    text-decoration: none;
  }
  
  .govuk-oasys-current-page {
    border-left-color: #005ea5;
    border-left: 4px solid;
    background: #f8f8f8;
    font-weight: bold;
  }

  a.govuk-oasys-cancel-button {
    float: right;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: govuk-colour("grey-3"); 
    color: black;
    text-decoration: none;
    padding-top: 9px;
    padding-bottom: 6px;
    padding-right: 40px;
    padding-left: 40px;
    margin-right: 10px;
    font-size: 1.5rem;
    // font-weight: 700;
    line-height: 1;
    width: auto;
    text-align: center;
    vertical-align: top;
    border: 2px solid transparent;
    border-radius: 0;
    box-shadow: 0 2px 0 #003618;
    }

  a.govuk-oasys-next-button {
    float: right;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #00823b; 
    color: white;
    text-decoration: none;
    padding-top: 9px;
    padding-bottom: 6px;
    padding-right: 40px;
    padding-left: 40px;
    margin-right: 10px;
    font-size: 1.5rem;
    // font-weight: 700;
    line-height: 1;
    width: auto;
    text-align: center;
    vertical-align: top;
    border: 2px solid transparent;
    border-radius: 0;
    box-shadow: 0 2px 0 #003618;
    }
  